 .language-selector {
 position: absolute;
 left: 1360px;
 top: -15px;
 color: white;
 }
 .language-selector .wrapper-languages {
    max-height: 0;
     overflow: hidden;
 background-color: rgba(211, 6, 6, 0.997);
    transition: 0.4s;
    display: none;
    position: absolute;
    min-width: 50px;
    text-align: center;
    margin: -17px;
    left: 16px;
 }
 .flex-container{
   display: flex;
 }
 .container {
   max-width: 1122px;
   margin: 0 auto;
 }
 .language-selector .wrapper-languages a{
    color: white;
    text-decoration: none;
    padding: 0;
 }
 .language-selector:hover .wrapper-languages {
    max-height: 300px;
    transition: 0.4s;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }
 .selected-language {
   background-color: rgba(211, 6, 6, 0.997);
   width: 50px;
   text-align: center;
 }
 .box-1 {
    position: absolute;
    background-color: red;
    height: 20px;
    width: 1536px;
    top: 0;
 }


 body {
    margin: 0;
    display: inline-block;
 }
  .container {
    position: relative;
    left: 424px;
    top: -19px;
   letter-spacing: 0.1em;
 font-family: 'Josefin Sans', sans-serif;
 }
 h6 {
    display: inline-block;
     text-align: center;
     justify-content: space-between;
     color: white;
     width: 260px;
 }
 img {
   width: 15px;
 top: 0px;
 margin: -3px;
 color: white;
 }
 .wrapper-logo img {
   display: inline-block;
   width: 150px;
   top: 17px;
   position: absolute;
 }
 .box-2 {
   position: absolute;
   left: 200px;
  background-color: #ffffff;
  width: 320px;
  margin: 0px;
  height: 45px;
  top: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 0px;
 }
  .wrapper-content p {
width: 45px;
top: -2px;
left: 7px;
position: relative;
  }
  .wrapper-content img {
   position: absolute;
   left: 290px;
   bottom: 0%;
   right: 1.73%;
   top: 20px;
  }
  .wrapper-icons img:nth-child(1){
    left: 550px;
    position: relative;
    top: 15px;
    width: 30px;
  }
  .wrapper-icons p {
color: gainsboro;
position: relative;
left: 590px;
top: -25px;
  }
  .wrapper-information img:nth-child(1){
    position: absolute;
    left: 750px;
    top: 15px;
    width: 30px;
  }
  .wrapper-information img:nth-child(2){
    top: 15px;
    position: relative;
    left: 670px;
    width: 30px;
  }
  .wrapper-menu {
   top: 20px;
   position: absolute;
  }
.wrapper-menu a {
   text-decoration: none;
   color: black;
 width: 30px;
 position: relative;
}
.wrapper-menu a:nth-child(1){
  left: -200px;
}
.wrapper-menu a:nth-child(2){
  left: -150px;
}
.wrapper-menu a:nth-child(3){
  left: -100px;
}
.wrapper-menu a:nth-child(4){
  left: -50px;
}
.wrapper-menu a:nth-child(5){
  left: 0px;
}
.wrapper-menu a:nth-child(6){
left: 50px;
}
.wrapper-menu a:nth-child(7){
  left: 100px;
  color: red;
}
 